/** Smaller devices only **/
@media (max-width:812px){
    /* Hide menu in mobile devices 
    .menu{
        display: none;
    }
*/
    .menu-handler{
        display: block!important;
    }

    /** pseudo selector with sibiling **/
    .menu-handler:focus-within + .menu{
        display: block;
    }
    /**display menu items in vertical order**/
.menu-item{
            float:left;
            display: block;
            padding: 8px;
            border-bottom: 1px solid #3333337d;
            background-color: white;
            min-width:250px;
        }
        .banner-text{
            display:none;
        }
        .inverted-heading{
            font-size: 7px;
        }
        .boxes.three .box{
            width: 100%;
            margin:5px;
        }
}


/* Medium size devices ( iPad / Surface ) */
@media (min-width:768px) and (max-width:1024px){

    /* Align menu items to left */
    .menu-bar .menu{
        float:left;
        margin-left: 40px;
    }**/


}
/** Larger devices 
@media (min-width: 1025px){
    .menu-handler{
        display: none;
    }
}
**/
.menu-handler{
    display: none;
}
/**@media (min-width:150px){
.menu-item{
        float: left !important;
        display:list-item!important;
          }
    }**/