/**
css reset
**/

body{
    
    font-family: 'Roboto', sans-serif;
}

body, figure{
    margin: 0;
}

.menu-bar{
   width: 100%;
   padding: 10px;
   position: fixed;
   z-index: 1;
}
.teal-bg{
    background-color: #00bcd4;
}
.menu-bar .logo{
    float: left;
}
.menu-bar .menu{
    float: right;
}
.menu-bar::after{
    content: " ";
    display: block;
    clear: both;
}
.menu-item{
    color: black;
    padding: 0 10px;
    text-decoration: none;
}
.menu-item:hover{
    text-decoration: underline;
    color: whitesmoke;
}

#hero-banner{
    width: 100%;
    margin: 0 auto;
}
#hero-banner img{
    width: 100%;
}

#hero-banner h2{
    font-size: 14px;
    color:#555;
}

.banner-text{
    position: absolute;
    left: 40%;
    bottom: 50%;
    background-color: #000000;
    font-size: 30px;
    padding: 20px;
    color: #fff;

}
.button {
        border-radius: 2px;
        text-decoration-color: white;
        font-size: 16px;
        padding: 10px 20px;
        font-family: 'Roboto', sans-serif;
        color: white;
        display: inline-block;
}
.button-blue{
    background-color: cornflowerblue;
}
.button-orange{
    background-color: #FF9800;
}
.boxes{
    width: 100%;
}
.box{
    padding: 5px;
    position: relative;
    background-color: #f1f1f1;
    float: left;
    margin-right: 20px;
    border: 1px solid #999999a3;
    box-shadow: 2px 2px 10px #33333369;
}
.box .icon{
    color: #33333369;
    font-size: 30px;
    position: absolute;
    right:10px;
}
.box:hover .icon{
    color:red;
}

.boxes::after{
    content: "";
    display: block;
    clear: both;
}
.box .title{
    font-size: 24px;
}
.box img{
    width: 100%;
}
.boxes.three .box{
    width: 30%;
}

.boxes.four .box{
    width: 22%;
}
.inverted-heading{
    background-color: #000000a3;
    color: #fff;
    padding: 10px;
}